#container{
	height: 650px;
	width: 800px;
	border: 2px solid black;
	text-align: center;
	

}
#box1{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: relative;
	
	top: 2px;
	background-color: dimgrey;



}


#box2{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: relative;
	
background-color: green;



}

#box3{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: relative;
	
	background-color: dimgrey;




}

#box4{
	width: 100px;
	height: 100px;
	border: 1px solid black;

	position: relative;
	
	background-color: green;



}

#box5{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: relative;
	
	background-color: dimgrey;



}




#box6{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	position: relative;
	
	background-color: green;

	

}




	 






}